@media (max-width: 1199px) {
  .manage-connection-page .text-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .manage-connection-page .sidebanner-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .manage-connection-page .sidebanner-section .text-wrapper,
  .manage-connection-page .sidebanner-section .video-wrapper {
    min-width: 100%;
  }
  .manage-connection-page .sidebanner-section .text-wrapper {
    margin-bottom: 30px;
  }
  .manage-connection-page .howitworks-section {
    padding: 50px 0px;
  }
  .manage-connection-page .howitworks-section .howitworks-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .manage-connection-page .howitworks-section .howitworks-container .text-wrapper,
  .manage-connection-page .howitworks-section .howitworks-container .img-wrapper {
    min-width: 100%;
    text-align: center;
  }
  .manage-connection-page .howitworks-section .howitworks-container .img-wrapper {
    margin-bottom: 30px;
  }
  .manage-connection-page .howitworks-section .howitworks-container .img-wrapper img {
    max-width: 100%;
  }
  .billing-page {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .billing-page .grid-section,
  .billing-page .payment-section {
    max-width: none;
    min-width: 100%;
    padding-left: 0px;
  }
  .billing-page .grid-section {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .app-container {
    padding-top: 72px;
  }
  .sidenav {
    left: -100%;
    z-index: 1031;
  }
  .sidenav .closebtn {
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 20px;
    display: inline-block;
    background-color: unset !important;
    color: #000 !important;
  }
  .sidenav .sidebar-logo img {
    width: 95px;
  }
  .sidenav.sidenav-expanded {
    left: 0px;
  }
  .navbar {
    left: 0;
    padding: 6px 15px;
  }
  .navbar .side-btn {
    display: inline-block;
    width: 38px;
    font-size: 26px;
    color: #ffffff;
  }
  .navbar .side-btn {
    margin-right: auto;
  }
  main {
    padding-left: 0px;
  }
  .app-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .header-search {
    width: 50vw;
  }
  .header-search .form-control {
    padding-left: 17px;
    padding-right: 62px;
  }
  .header-search .search-icon {
    display: none;
  }
  .header-search .search-btn {
    width: 52px;
  }
  .header-search .search-btn span {
    display: none;
  }
  .header-search .search-btn i {
    display: inline-block;
  }
  .notification {
    margin: 10px 3px !important;
  }
  .app-box.info-box {
    padding: 22px 22px;
  }
  .app-box.info-box .left-box {
    padding-right: 30px;
  }
  .manage-connection-page .text-wrapper h2 {
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 8px;
  }
  .manage-connection-page .text-wrapper .btn-box .btn-wrapper .step-count {
    font-size: 25px;
    padding-left: 19px;
  }
  .manage-connection-page .text-wrapper .btn-box .btn-wrapper .app-btn {
    margin-top: -13px;
  }
  .manage-connection-page .howitworks-section {
    padding: 30px 0px;
  }
  .manage-connection-page .howitworks-section .howitworks-container .text-wrapper h2 {
    font-size: 25px;
    line-height: 33px;
  }
  .manage-connection-page .howitworks-section .howitworks-container .img-wrapper img {
    width: 200px;
  }
  .navbar .dropdown-menu {
    font-size: 14px;
    line-height: 25px;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .navbar .nav-item .notification .dropdown-menu {
    right: -12px !important;
    top: 20px !important;
  }
  .navbar .nav-item.user-info .dropdown-menu {
    right: 8px !important;
    top: 40px !important;
  }
}

@media (max-width: 575px) {
  .app-btn.large-btn {
    font-size: 16px;
    border-radius: 15px;
    padding: 9px 20px;
  }
  .navbar {
    padding-right: 0px;
  }
  .navbar .nav-link.dropdown-toggle {
    padding-right: 6px !important;
    padding-left: 10px !important;
  }
  .app-box.info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .app-box.info-box .left-box {
    margin-bottom: 15px;
    padding-right: 0px;
  }
  .app-model .blue-title-h6 {
    font-size: 20px;
  }
  .app-model .btn-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .app-model .btn-box .app-btn {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 15px;
  }
  .app-model .btn-box .app-btn:last-child {
    margin-bottom: 0px;
  }
  .white-container {
    padding: 15px;
  }
  .manage-connection-page .text-wrapper .btn-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .manage-connection-page .text-wrapper .btn-box .btn-wrapper {
    min-width: 100%;
    margin: 0 0 10px !important;
  }
  .manage-connection-page .text-wrapper .btn-box .btn-wrapper .step-count {
    padding-left: 0px;
    text-align: center;
  }
  .manage-connection-page .text-wrapper .btn-box .btn-wrapper .app-btn {
    width: 100%;
  }
  .billing-page .grid-section .action-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .billing-page .grid-section .action-row .form-group {
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
/*# sourceMappingURL=responsive.css.map */