@import 'common-style';

.manage-connection-page {
    .text-wrapper {
        h2,
        p {
            max-width: 350px;
        }
        h2 {
            font-size: 40px;
            color: #000;
            line-height: 62px;
            margin-bottom: 12px;
            font-weight: 700;
        }

        p {
            font-size: 15px;
            color: #000;
            line-height: 25px;
        }

        .btn-box {
            .btn-wrapper {
                .step-count {
                    display: block;
                    text-align: left;
                    font-size: 30px;
                    font-weight: 500;
                    color: #B7BCC7;
                    opacity: 0.30;
                    padding-left: 19px;
                }

                .app-btn {
                    white-space: nowrap;
                    border-radius: 15px;
                    padding: 11px 15px;
                    min-width: 176px;
                    position: relative;
                    z-index: 1;

                    &:hover,
                    &:focus,
                    &.active{
                        svg{
                            path{
                                fill: currentColor
                            }
                        }
                    }
                    svg,
                    img,
                    span {
                        vertical-align: middle;
                    }

                    img,svg {
                        margin-right: 8px;
                    }
                    svg{
                        height: 20px;
                    }
                }
            }
        }

    }

    .sidebanner-section {
        @extend %display-flex;
        justify-content: space-between;

        .video-wrapper {
            border-radius: 15px;
            overflow: hidden;
            width: 53%;

            .video-react {
                max-height: 340px;
                min-height: 280px;
                width: 100%;
                padding-top: 54.42% !important;
                background-repeat: no-repeat;
                background-image: url(../images/side-banner1.png);
                background-size: cover;
                background-position: center;

                &.video-react-paused {
                    .video-react-video {
                        display: none;
                    }
                }

                &.video-react-playing {
                    background-image: none;

                    .video-react-big-play-button {
                        display: none !important;
                    }
                }
            }

            .video-react-big-play-button {
                display: inline-block !important;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: auto;
                margin-top: -11px;
                width: 60px;
                height: 60px;
                background: $theme-base-color;
                border: none;
                font-size: 24px;
                padding: 0;
                border-radius: 50%;
                @include css3-prefix(transform, translateY(-50%));
                border: 1px solid transparent;

                &:before {
                    line-height: 61px;
                    font-size: 1.8em;
                }

                &:hover,
                &:focus {
                    border: 1px solid $theme-base-color;
                    background-color: #fff;
                    color: $theme-base-color;
                    @extend %common-transition;
                }
            }

            .video-react-control-bar {
                position: static;
                display: none;

                .video-react-control:not(.video-react-play-control) {
                    display: none;
                }

                .video-react-play-control {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    margin: auto;
                    margin-top: -11px;
                    width: 60px;
                    height: 60px;
                    background: red;
                    font-size: 24px;
                    padding: 0;
                    border-radius: 50%;
                    @include css3-prefix(transform, translateY(-50%));

                    &:before {
                        line-height: 61px;
                        font-size: 1.8em;
                    }
                }
            }
        }
    }

    .howitworks-section {
        padding: 80px 0px;

        .howitworks-container {
            max-width: 740px;
            margin: 0 auto;
        }

        .text-wrapper {
            h2 {
                font-size: 34px;
                line-height: 50px;
            }
        }
    }
}

.billing-page {
    @extend %display-flex;

    .grid-section {
        flex: 1;

        // @include calc(max-width,'100% - 343px');
        .action-row {
            padding-top: 16px;

            .form-group {
                margin-right: 15px;
                margin-bottom: 10px;
            }

            .app-select {
                width: 135px;
            }

            .app-search {
                width: 230px;
            }
            .app-btn{
                svg{
                    vertical-align: top;
                    margin-right: 3px;
                }
            }
        }
    }

    .payment-section {
        min-width: 343px;
        width: 343px;
        padding-left: 30px;
    }

    .invoice-grid {
        .chk-col {
            width: 40px;
        }

        td:not(.chk-col) {
            min-width: 125px;
        }
    }

    .payment-config-card {
        padding: 25px 18px;

        .section-title {
            color: #010000;
            font-size: 15.961px;
            line-height: 36px;
            font-weight: 700;
            margin-bottom: 12px;
        }

        .app-radio {
            display: inline-block;
            margin-right: 15px;
        }

        .app-ctrl {
            .form-control {
                height: 30px;
                font-weight: 500;
            }

            &.form-group {
                margin-bottom: 29px;
            }
        }

        .form-group.app-ctrl label {
            font-size: 13px;
            color: #888888;
            font-weight: 400;
        }

        .cvv-input {
            position: relative;

            .info-img {
                position: absolute;
                right: 0;
                top: 4px;
            }
        }

        .btn-box {
            padding-top: 17px;

            .app-btn {
                font-size: 16px;
            }
        }

        .react-datepicker__input-container,
        .react-datepicker-wrapper {
            display: block;
        }
    }

    &.paymentmethod-page {
        .payment-config-card {
            padding: 28px 35px 28px 45px;
        }

        form {
            max-width: 310px;
        }

        .app-btn.save-btn {
            padding: 10px 26px;
        }
    }
}

.dropdown.user-info {
    .dropdown-item {
        position: relative;
        padding: 3px 30px 3px 54px !important;
        font-size: 14px !important;
        color: #888888;

        &:hover {
            background-color: #F2F2F2;
            color: #21CE99;

            svg {
                fill: currentColor;

                path {
                    fill: currentColor;
                }
            }
        }

        .icon-wrapper {
            width: 15px;
            position: absolute;
            left: 22px;
            text-align: center;
            @extend %ver-align;

            svg {
                width: 100%;
            }
        }
    }
}

.profile-page {
    .user-information {
        min-width: 326px;
        max-width: 326px;
    }

    .user-location {
        flex: 1;
        padding-left: 20px;

        .inner-container {
            min-height: 456px;

            .sec-header {
                padding: 0 34px;
                margin-bottom: 0px;
            }
        }
    }

    .inner-container {
        border-radius: 22px;
        border: 1px solid #E2E7FE;
        padding: 23px 20px;
        .edit-btn{
            border: none;
            @extend %common-transition;
            svg{
                width: 16px;
            }
            &:hover{
                opacity: 0.7;
            }
        }

        .add-btn {
            font-size: 16px;
            color: #21CE99;
            border: none;
            @extend %common-transition;
            &:hover{
                opacity: 0.7;
            }

        }

        .sec-header {
            @extend %display-flex;
            align-items: center;
            margin-bottom: 20px;

            h4 {
                font-size: 16px;
                color: #000;
            }
        }

        .user-img-wrapper {
            text-align: center;
            padding-bottom: 26px;
            border-bottom: 1px solid #E2E7FE;

            .user-img {
                width: 112px;
                height: 112px;
                border-radius: 50%;
                margin: 0 auto 20px auto;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                position: relative;
                .upload-btn{
                    position: absolute;
                    right: -12px;
                    height: 35px;
                    width: 35px;
                    background: #21ce99;
                    border-radius: 50%;
                    padding: 8px;
                    bottom: 6px;
                    svg{
                        height: 100%;
                        width: 100%;
                        fill: #fff;
                    }
                    input{
                        position: absolute;
                        opacity: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                        left: 0;
                        top: 0;
                    }
                }
            }

            .user-name {
                font-size: 24px;
                color: #000;
                font-weight: 700;
                margin-bottom: 5px;
            }

            .user-prof {
                font-size: 16px;
                color: #000;
                font-weight: 400;
                margin-bottom: 0px;
            }
        }

        .user-basic-info {
            padding-top: 22px;

            .info-row {
                @extend %display-flex;
                color: #000;

                span,
                label {
                    margin-bottom: 7px;
                }

                span {
                    min-width: 115px;
                    font-size: 14px;
                    font-weight: 300;
                    margin-right: 28px;
                }

                label {
                    font-size: 14px;
                    font-weight: 500;
                    flex: 1;
                }
            }
        }

        .location-container {
            @extend %display-flex;
            flex-wrap: wrap;
            &.border-bottom {
                border-bottom-color: #E2E7FE !important;
            }

            &.second-row {
                .location-info {
                    padding-top: 33px;
                }
            }

            .location-info {
                width: 50%;
                padding: 30px 34px 25px;
                position: relative;

                &.active {

                    h4,
                    .contact-link {
                        color: #21CE99;
                    }
                }

                &:hover {
                    .edit-btn {
                        display: block;
                    }
                }

                .edit-btn {
                    position: absolute;
                    right: 20px;
                    top: 30px;
                    display: none;
                    ;
                }

                h4 {
                    font-size: 16px;
                    color: #A4A4A4;
                    font-weight: 500;

                    small {
                        font-size: 12px;
                        color: #888888 !important;
                        font-weight: 400;
                    }
                }

                p {
                    font-size: 13px;
                    color: #888888;
                    margin-bottom: 8px;
                }

                .contact-link {
                    display: block;
                    font-size: 13px;
                    color: #A4A4A4;
                    margin-bottom: 6px;
                }
            }
        }
    }
}


/*setting page scss started*/
.setting-wrapper {
    .setting-page {
        .nav-tabs {
            .nav-link {
                margin-bottom: 0px;
                border: 1px solid transparent;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
                color: #888888;
                position: relative;

                &:active,
                &.active {
                    color: #21ce99;

                    &::before {
                        position: absolute;
                        bottom: -1px;
                        height: 3px;
                        width: 100%;
                        display: block;
                        content: " ";
                        left: 0;
                        background-color: #21CE99;
                    }
                }

            }
        }

        .tab-content {
            padding: 28px 0;

            .account-tab {
                .step-block {
                    margin: 15px 0;
                }
            }

            .password-tab {
                label {
                    color: #888888;
                }
            }

            .css-yk16xz-control {
                border-bottom: 2px solid #d0d1d3 !important;
                border-radius: 0px;
                border: none;
                border-bottom: 2px solid #d0d1d3;
                font-size: 18px;
                height: 40px;
                margin-bottom: 13px;
                text-align: start;
                width: 100%;
                color: #000;
                background-color: #fff;
                padding-left: 0;

                .css-g1d714-ValueContainer {
                    height: 100% !important;
                    padding-left: 0 !important;
                }

            }

            .css-1pahdxg-control {
                border-bottom: 2px solid #21CE99 !important;
                border-radius: 0px;
                border: none;
                border-bottom: 2px solid #d0d1d3;
                font-size: 18px;
                height: 40px;
                margin-bottom: 13px;
                text-align: start;
                width: 100%;
                color: #000;
                background-color: #fff;
                padding-left: 0;
                box-shadow: none;

                .css-g1d714-ValueContainer {
                    height: 100% !important;
                    padding-left: 0 !important;
                }

            }

            .css-1okebmr-indicatorSeparator {
                border-color: transparent !important;
                background-color: transparent !important;
            }

            .css-1gtu0rj-indicatorContainer {
                color: #21CE99 !important;
            }
        }
    }

}

.location-profile-model {
    .btn-box .app-btn {
        max-width: 156px;
        font-size: 16px;
        padding: 11px 18px;
    }
}
/*setting page scss started*/
.setting-wrapper {
    .setting-page {
        .nav-tabs {
            padding-left: 28px;
            .nav-link {
                margin-bottom: 0px;
                border: 1px solid transparent;
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
                color: #888888;
                position: relative;

                &:active,
                &.active {
                    color: #21ce99;

                    &::before {
                        position: absolute;
                        bottom: -1px;
                        height: 3px;
                        width: 100%;
                        display: block;
                        content: " ";
                        left: 0;
                        background-color: #21CE99;
                    }
                }

            }
        }

        .tab-content {
            padding: 28px 0;

            .account-tab {
                .step-block {
                    margin: 15px 0;
                }
            }

            .password-tab {
                label {
                    color: #888888;
                }
            }

            .css-yk16xz-control {
                border-bottom: 2px solid #d0d1d3 !important;
                border-radius: 0px;
                border: none;
                border-bottom: 2px solid #d0d1d3;
                font-size: 18px;
                height: 40px;
                margin-bottom: 13px;
                text-align: start;
                width: 100%;
                color: #000;
                background-color: #fff;
                padding-left: 0;

                .css-g1d714-ValueContainer {
                    height: 100% !important;
                    padding-left: 0 !important;
                }

            }

            .css-1pahdxg-control {
                border-bottom: 2px solid #21CE99 !important;
                border-radius: 0px;
                border: none;
                border-bottom: 2px solid #d0d1d3;
                font-size: 18px;
                height: 40px;
                margin-bottom: 13px;
                text-align: start;
                width: 100%;
                color: #000;
                background-color: #fff;
                padding-left: 0;
                box-shadow: none;

                .css-g1d714-ValueContainer {
                    height: 100% !important;
                    padding-left: 0 !important;
                }

            }

            .css-1okebmr-indicatorSeparator {
                border-color: transparent !important;
                background-color: transparent !important;
            }

            .css-1gtu0rj-indicatorContainer {
                color: #21CE99 !important;
            }
        }
        .app-btn.large-btn {
            padding: 10px 26px;
            min-width: 156px;
        }
    }

}